<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <h1 class="header-text p-2 mt-2">Eat-Da-Burger!</h1>
  </div>
  <p></p>
  <div class="row d-flex justify-content-center">
    <div class="md-col-5 align-md-right p-1">
      <h2 class="text-center header-text p-1">Burgers to Eat</h2>
      <ul class="list-group">
        {{#each undevoured}}
        <li class="list-group-item align-content-center">
          <img class="icon-img" src="/assets/img/{{icon}}.png" alt="a hamburger">
          <p class="font-weight-bold p-1 text-block">{{burger_name}} </p>
          <button class="btn btn-success devour-it" data-id="{{id}}">Devour It!</button>
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="md-col-5 align-md-left p-1">
      <h2 class="text-center header-text p-1">BURGERS EATEN</h2>

      <ul class="list-unstyled">
        {{#each devoured}}
        <li class="list-group-item align-content-center">
          <img class="icon-img" src="/assets/img/{{icon}}.png" alt="a hamburger">
          <p class="font-weight-bold p-1 text-block">{{burger_name}}</p>
          <button class="btn btn-danger delete-it" data-id="{{id}}">Clean Up
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg></button>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <p></p>
  <div class="row d-flex justify-content-center">
    <div class="form-group">
      <h2 class="mx-auto">Add-Da-Burger!</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="new-name">Type of Burger:</label>
          <input type="text" id="new-name" name="new-name">
        </div>
        <button class="btn btn-success" type="submit">Add Burger</button>
      </form>
    </div>
  </div> 
</div>